.countContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	gap: 12px;
}
.countTitle{
	margin-bottom: 20px;
	font-size: 50px;
    font-family: 'Pirata One', cursive;
    color: #FFD700;
    text-shadow: 2px 2px #000;
}

.countBox {
	width: calc(100% / 4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 150px;
	max-width: 150px;
}

.countValue {
	font-size: 30px;
	font-weight: 600;
	background: url('../public/images/bg.png') no-repeat center center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid #DAA520;
    text-shadow: 2px 2px #000;
    border-radius: 10px;
	width: 80px;
	height: 80px;
	position: relative;
	box-shadow: -2px 0px 5px 1px #232423ad;
    font-family: 'Pirata One', cursive;
    color: #835211;
}

.countLabel {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 4px;
	margin-top: 10px;
}

@media screen and (min-width: 550px) {
	.countContent {
		gap: 30px;
	}
	.countValue {
		font-size: 50px;
		width: 120px;
		height: 120px;
	}
	.countBox {
		height: 200px;
		max-width: 200px;
	}
}

@media screen and (min-width: 790px) {
	.countValue {
		font-size: 100px;
		height: 200px;
		width: 200px;
	}
	.countBox {
		max-width: 200px;
		height: 250px;
	}
}